*
!.gitignore
!.git-preserve-permissions
# /home/isucon/.bashrc.backup
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc.backup

# /home/isucon/.bashrc
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc

# /home/isucon/webapp/sql/admin/01_create_mysql_database.sql
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/webapp
/home/isucon/webapp/*
!/home/isucon/webapp/sql
/home/isucon/webapp/sql/*
!/home/isucon/webapp/sql/admin
/home/isucon/webapp/sql/admin/*
!/home/isucon/webapp/sql/admin/01_create_mysql_database.sql

# /home/isucon/webapp/sql/admin/10_schema.sql
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/webapp
/home/isucon/webapp/*
!/home/isucon/webapp/sql
/home/isucon/webapp/sql/*
!/home/isucon/webapp/sql/admin
/home/isucon/webapp/sql/admin/*
!/home/isucon/webapp/sql/admin/10_schema.sql

# /home/isucon/webapp/sql/init.sh
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/webapp
/home/isucon/webapp/*
!/home/isucon/webapp/sql
/home/isucon/webapp/sql/*
!/home/isucon/webapp/sql/init.sh

# /home/isucon/webapp/sql/init.sql
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/webapp
/home/isucon/webapp/*
!/home/isucon/webapp/sql
/home/isucon/webapp/sql/*
!/home/isucon/webapp/sql/init.sql

